@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/webfontkit-20210412-193252/google_fonts_-_open_sans_extrabold-webfont.woff2') format('woff2'),
            url('../fonts/webfontkit-20210412-193252/google_fonts_-_open_sans_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.wtrclrbg {
    background-image: url('/images/blue_watercolor.jpeg');
    background-repeat: repeat;
    background-size: 2000px;
}

.geobg {
    background-image: url(/images/blue_white_geometric.jpeg);
    background-repeat: repeat;
    background-size: 2000px;

}

.bg-image {
    background-image: url("/images/blue_watercolor.jpeg");
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding-bottom: 50px;
}


.common {position: absolute;}


.blockbg {
    background-color: gray;
    opacity: 30%;
}


.logo {
    z-index: 5000;
    padding-bottom: 0px;
    height: 30px;
    top: 30px;
}


.navigation {
    display: block;
    top: 0;
    left: 0px;
    right: 0px;
    height: 70px;
    z-index: -10;
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-right: 0px;
    background-color: rgba(115, 115, 115, .3);
}


.tableau {
    display: block;
    top: 114px;
    left: 5px;
    right: 5px;
    bottom: 64px;
    padding-right: 5px;
    border-radius: solid 1px #555555;
    display: block;
}


.footer {
    display: block;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    font-size: 14px;
    color: white;
    text-align: center;
    position: fixed;
}
    


.customfont {
    font-family: 'open_sansextrabold';
}


.customname {
    font-family: 'open_sansextrabold';
    font-size: 20px;
    color: white;
    /*top: 5px;*/
    /*padding-top: 10px;*/
}


.custommenu {
    text-decoration: none;
    font-family: 'open_sansextrabold';
    color:white;
    z-index: 0;
    /*padding-inline-start: 20px;*/
    padding-left: 50px;
    padding-top: 15px;
    /*padding: center;*/
}

.customtext {
    color: #26526e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 4px white;
    text-shadow: 0px 0px 4px white;
    text-shadow: 0px 0px 4px white;
}


.main {
    display: block;
    padding-left: 5px;
    padding-right: 5px;

}


a {
    color: #226779;
}


a:hover {
    /*color: #80ffff;*/
    color: white;
    opacity: .75;
}


h1 {
    font-family: 'open_sansextrabold';
    font-size: 25px;
    color: white;
    z-index: 50;
}


/*.toplink {
    /*font-weight: lighter;*/
    /*text-decoration: none;
    color: white;
}*/



   
/*footer {
    display: block;
    bottom: 10px;
    right: 5px;
    left: 5px;
    height: 100px;
    color: #999999;
    text-align: center;
    background-color:#c9e23c;
    position: fixed;
    display: block;}*/


/*body {background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;}*/
